<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsvN19OJ3t5CxXZcTTGvixm9j5F6qLXU8</string>
	<key>GCM_SENDER_ID</key>
	<string>888151778164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mooon</string>
	<key>PROJECT_ID</key>
	<string>mooon-4296f</string>
	<key>STORAGE_BUCKET</key>
	<string>mooon-4296f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888151778164:ios:5e14b9016f5e2ed3ad4221</string>
</dict>
</plist>